.app {
  display: flex;
  flex-direction: column;
  font-family: 'Arial, sans-serif';
  height: 100vh; /* Ensure it covers the full viewport height */
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  background-color: #f5f5f5; /* Light gray background similar to Canva */
  border-bottom: 1px solid #e0e0e0; /* Subtle bottom border */
  color: #333; /* Darker text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle box shadow */
}

.header .left-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .left-section img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  object-fit: cover;
}

.header .text-options {
  display: flex;
  align-items: center;
  // justify-content: flex-end;
  border-radius: 10px;
}

.text-options button {
  padding: 8px 12px;
  background-color: transparent; /* Không có màu nền */
  border: 1px solid #444; /* Viền đen đậm */
  color: #444; /* Màu chữ đen */
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 35px;
}

.text-options button:hover {
  background-color: black;
  transform: scale(1.05); /* Hiệu ứng hover */
  color: white;
}

.text-options select {
  padding: 8px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: transparent;
  color: #444;
  font-size: 14px;
  width: 260px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
}

.text-options input[type="number"] {
  padding: 8px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: transparent;
  color: #444;
  font-size: 14px;
  width: 100px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
}

.text-options input[type="color"] {
  padding: 8px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: transparent;
  color: #444;
  width: 60px;
  height: 35px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
}

.align-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  height: 35px;
}

.background-options label {
  color: #444; /* Màu chữ trắng */
  font-size: 14px;
  width: 110px;
  align-items: center;
}

.background-options input[type="color"] {
  padding: 8px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: transparent;
  color: #444;
  width: 60px;
  height: 35px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 10px;
}

.background-options input[type="range"] {
  border: 1px solid #444;
  appearance: none;
  height: 6px;
  background: #5b5b5b;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

.background-options input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid #5b5b5b;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.background-options input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}

// .background-options input[type="color"]:hover {
//   box-shadow: 0 0 5px rgba(255, 204, 0, 0.5); /* Hiệu ứng hover */
// }

.background-options input[type="color"]:focus {
  outline: none;
  border: 2px solid #5b5b5b; /* Hiệu ứng focus */
}

.header .background-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px; /* Khoảng cách giữa các phần tử */
  margin-right: 10px;
}


// .header input[type="number"],
// .header input[type="color"] {
//   margin-left: 5px; /* Reduced space between input and label */
//   padding: 5px;
//   border: 1px solid #ccc; /* Subtle border for inputs */
//   border-radius: 4px;
// }

// .header button {
//   margin-left: 5px;
//   padding: 5px 10px;
//   border: none;
//   background-color: #0073e6;
//   color: #fff;
//   border-radius: 4px;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }

// .header button:hover {
//   background-color: #005bb5;
// }

// .header .align-button {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 5px;
//   width: 40px;
//   height: 40px;
//   background-color: #f5f5f5;
//   color: #333;
// }

// .header .align-button:hover {
//   background-color: #e0e0e0;
// }

.header .actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header .actions .divider {
  height: 50px; /* Chiều cao của đường kẻ dọc */
  width: 1px;
  background-color: #0000009d; /* Màu của đường kẻ */
  margin: 0 20px;
}

.header .actions .profile {
  // margin-left: 10px;
  // padding: 5px 10px;
  // background-color: #0073e6;
  // color: #fff;
  // border-radius: 10%;
  // cursor: pointer;
  padding: 10px;
  background-color: #0073e6;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
}

.header .actions .profile:hover {
  background-color: #005bb5;
}

.header .actions .close-btn {
  background-color: #dc3545;
  color: white;
  // transition: color 0.3s ease;
  padding-top: 5px;
  border-radius: 5px;
  border: none;
}

.header .actions .close-btn:hover {
  color: #c82333;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.actions {
  display: flex;
  align-items: center;
}

.actions button {
  margin-right: 15px;
  // padding: 10px 20px;
  // border: none;
  // cursor: pointer;
  // font-size: 14px;
  // color: #fff;
}


.save-btn {
  // background-color: #28a745;
  // padding: 10px 20px;
  // border: none;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}


.save-btn:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.share-btn {
  background-color: #007bff;
}

.main {
  display: flex;
  flex: 1;
  background-color: #272a2f;
}

.sidebar-container {
  width: 90px;
  height: 100%;
  padding: 10px;
}

.sidebar-container .sidebar {
  background-color: transparent;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: 'white'; 
  height: 100%;
  border-radius: 10px;
}

.sidebar button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  // padding: 10px;
  margin-bottom: 10px;
  // background-color: #fff;
  // border: 1px solid #dee2e6;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  border-radius: 10px;
  color: 'white';
}

.sidebar button:hover {
  background-color: #e2e6ea;
  transition: background-color 0.3s;
  color: black;
}

.sidebar button span {
  margin-top: 5px;
  font-size: 12px;
}


.tab-container {
  position: absolute; /* Position it absolutely */
  top: 77px; /* Offset by the header height */
  left: 110px; /* Offset by the sidebar width */
  background-color: 'transparent';
  transition: opacity 0.3s ease-in-out; /* Add transition for opacity */
  display: none;
  z-index: 2; /* Ensure it appears on top */
  opacity: 0; 
  width: 20%;
  height: 10%;
  
  
}

.button-row {
  display: flex;
  gap: 10px; /* Add some space between buttons */
  margin-bottom: 5px; /* Space between rows */
}



.tab-container.open {
  display: block;
  // padding: 20px;
  opacity: 1; /* Set opacity to 1 when open */
  // margin-top: '10%';
}

// .tab {
//   padding: 17px;
//   background-color: #131315;
//   // border: 1px solid #dee2e6;
//   border-radius: 10px;
//   color: 'white';
 
  
// }

// .tab h4 {
//   margin-top: 0;
// }

// .tab button {
//   display: block;
//   width: 100%;
//   padding: 10px 15px;
//   margin-top: 10px;
//   background-color: #f8f9fa;
//   border: 1px solid #dee2e6;
//   cursor: pointer;
// }

// .tab button:hover {
//   background-color: #e2e6ea;
//   transition: transform 0.3s ease;
//   transform: scale(1.07);
// }

.tab {
  padding: 20px;
  background-color: #1e1e1f;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  max-width: 300px;
  text-align: center;
}

.tab h4 {
  margin-top: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 22px;
}

.tab button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin-top: 10px;
  background-color: #4444448b;
  border: 1px solid #444;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tab button:hover {
  background-color: white;
  color: #292b2f;
  transform: scale(1.05);
}

.file-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.file-input-wrapper input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-label {
  display: block;
  width: 100%;
  padding: 12px 15px;
  background-color: #4444448b;
  border: 1px solid #444;
  color: white;
  border-radius: 8px;
  text-align: left;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.file-input-wrapper:hover .file-input-label {
  border-color: white;
  color: white;
}

.file-input-wrapper input[type="file"]:focus + .file-input-label {
  border-color: white;
  box-shadow: 0 0 5px rgba(255, 204, 0, 0.5);
}

.canvas-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  position: relative; /* Ensure it stays relative to its container */
  z-index: 1; /* Ensure it stays below the tab-container */
}

.canvas {
  width: 65%;
  height: 65%;
  // border: 2px solid blue;
  background-color: #f8f9fa;  
}

.sample-canvas {
  // border: 3px solid salmon;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}


.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 1%;
}

.toolbar label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.toolbar select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
}

.toolbar input[type="color"] {
  padding: 0;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.canvas-area.sidebar-open {
  transform: translateX(1); /* Move right to make room for sidebar */
}


.custom-scrollbar:hover::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}


.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the thumb */
}


.custom-scrollbar {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  width: 100%;
  
}

.zoom-hover {
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
}

.zoom-hover:hover {
  transform: scale(1.0); /* Scale the image to 110% on hover */
}

.tab {
  background-color: black;
}


/* Add necessary styles for new tab and inputs */
.tab input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  background-color: #444;
}

.subtabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.subtab-separator {
  width: 20px;
}

.subtab-content {
  margin-top: 20px;
}

.subtab-content label {
  color: white; /* Màu chữ vàng cho label */
  font-weight: bold;
  // margin-bottom: 5px;
  font-size: 12px;
}

.subtab-content input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #444; /* Đường viền màu tối */
  border-radius: 8px;
  background-color: #fff;
  color: #2a2a2c; /* Màu chữ trắng */
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  // margin-bottom: 10px;
  margin-top: 0px;
}

// .subtab-content input[type="number"]:focus {
//   border-color: white; /* Màu viền khi focus */
//   box-shadow: 0 0 5px rgba(255, 204, 0, 0.5); /* Hiệu ứng bóng */
//   outline: none; /* Loại bỏ đường viền mặc định */
// }

// .subtab-content input[type="number"]:hover {
//   border-color: white; /* Thay đổi màu viền khi hover */
// }

.subtab-content input[type="number"]::-webkit-inner-spin-button,
.subtab-content input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Ẩn nút tăng giảm của input number */
}

.position-options {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.position-options .dimension-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.position-options .subtab-separator {
  width: 13px;
}

.advanced-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}


/* Add this CSS to your styles */

.loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7); /* Slight background overlay */
  z-index: 999; /* Ensure it's on top of other elements */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light gray */
  border-top: 8px solid #050505;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





